<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/custom.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
      <div class="container">
<header class="jumbotron">

    <div href="/" class="row header">
      <h1>{{.headerName}}</h1>
      <h2>{{.headerTitle}}</h2>
      <a href="/"></a>
    </div>

</header>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" {{if .about.Active}} class="active">{{else}}>{{end}}<a href="/about">{{.aboutNav}}</a></li>
  <li role="presentation" {{if .notes.Active}} class="active">{{else}}>{{end}}<a href="/notes">{{.notesNav}}</a></li>
</ul>
